workflows/n8n/industry-research-intake.json
{
  "name": "industry-research-v03-intake",
  "id": "industryResearchV03Intake",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "industry-research/intake",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-intake",
      "name": "Webhook Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "industry-research-intake-webhook",
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://research.playgamelab.cn/api/industry-research/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({ mode: $json.body?.mode || $json.mode || 'public_web', input: { projectName: $json.body?.projectName || $json.projectName, industry: $json.body?.industry || $json.industry, category: $json.body?.category || $json.category, market: $json.body?.market || $json.market, researchGoal: $json.body?.researchGoal || $json.researchGoal, templateId: 'ecommerce_competitor_research', urls: Array.isArray($json.body?.urls) ? $json.body.urls : Array.isArray($json.urls) ? $json.urls : (($json.body?.urls || $json.urls) ? String($json.body?.urls || $json.urls).split('\\n').filter(Boolean) : []), csvText: $json.body?.csvText || $json.csvText || '', manualText: $json.body?.manualText || $json.manualText || '' } })}}",
        "options": {}
      },
      "id": "run-agent-factory",
      "name": "Run Industry Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [360, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "industryResearchInternalHeader",
          "name": "Industry Research Internal Header"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://research.playgamelab.cn/api/industry-research/webhooks/n8n-run-complete",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({ runId: $json.deliveryPackage?.runId || $json.result?.research_projects?.[0]?.id || $execution.id, status: 'completed', n8nExecutionId: $execution.id, deliveryPackageApiPath: '/api/industry-research/runs/' + ($json.deliveryPackage?.runId || $json.result?.research_projects?.[0]?.id || $execution.id) + '/download', message: 'n8n completed industry research run through the configured OpenAI-compatible provider.' })}}",
        "options": {}
      },
      "id": "notify-agent-factory",
      "name": "Notify Industry Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "industryResearchN8nWebhookHeader",
          "name": "Industry Research n8n Webhook Header"
        }
      }
    }
  ],
  "connections": {
    "Webhook Intake": {
      "main": [
        [
          {
            "node": "Run Industry Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Industry Research": {
      "main": [
        [
          {
            "node": "Notify Industry Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "description": "Production n8n intake for industry research. Calls the protected run API with n8n Header Auth credentials, then posts the completion callback."
  }
}
