workflows/n8n/industry-research-intake.json
{
  "name": "industry-research-v03-intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "industry-research/intake",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-intake",
      "name": "Webhook Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "mode",
              "value": "={{$json.body.mode || 'public_web_deepseek'}}"
            },
            {
              "name": "projectName",
              "value": "={{$json.body.projectName}}"
            },
            {
              "name": "industry",
              "value": "={{$json.body.industry}}"
            },
            {
              "name": "category",
              "value": "={{$json.body.category}}"
            },
            {
              "name": "market",
              "value": "={{$json.body.market}}"
            },
            {
              "name": "researchGoal",
              "value": "={{$json.body.researchGoal}}"
            },
            {
              "name": "urls",
              "value": "={{Array.isArray($json.body.urls) ? $json.body.urls.join('\\n') : ''}}"
            },
            {
              "name": "csvText",
              "value": "={{$json.body.csvText || ''}}"
            },
            {
              "name": "manualText",
              "value": "={{$json.body.manualText || ''}}"
            }
          ]
        }
      },
      "id": "normalize-input",
      "name": "Normalize Intake",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [280, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AGENT_FACTORY_BASE_URL + '/api/industry-research/run'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-internal-key",
              "value": "={{$env.AGENT_FACTORY_INTERNAL_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({ mode: $json.mode, input: { projectName: $json.projectName, industry: $json.industry, category: $json.category, market: $json.market, researchGoal: $json.researchGoal, templateId: 'ecommerce_competitor_research', urls: $json.urls ? $json.urls.split('\\n').filter(Boolean) : [], csvText: $json.csvText, manualText: $json.manualText } })}}",
        "options": {}
      },
      "id": "run-agent-factory",
      "name": "Run Agent Factory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [560, 0]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "runId",
              "value": "={{$json.result?.research_projects?.[0]?.id || $execution.id}}"
            },
            {
              "name": "status",
              "value": "completed"
            },
            {
              "name": "deliveryPackageApiPath",
              "value": "={{'/api/industry-research/runs/' + ($json.result?.research_projects?.[0]?.id || $execution.id) + '/download'}}"
            },
            {
              "name": "message",
              "value": "n8n draft completed Agent Factory run call. Delivery package lookup depends on agent-factory local run persistence."
            }
          ]
        }
      },
      "id": "build-completion-event",
      "name": "Build Completion Event",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [840, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AGENT_FACTORY_BASE_URL + '/api/industry-research/webhooks/n8n-run-complete'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-agent-factory-webhook-secret",
              "value": "={{$env.AGENT_FACTORY_N8N_WEBHOOK_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({ runId: $json.runId, status: $json.status, n8nExecutionId: $execution.id, deliveryPackageApiPath: $json.deliveryPackageApiPath, message: $json.message })}}",
        "options": {}
      },
      "id": "notify-agent-factory",
      "name": "Notify Agent Factory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 0]
    }
  ],
  "connections": {
    "Webhook Intake": {
      "main": [
        [
          {
            "node": "Normalize Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Intake": {
      "main": [
        [
          {
            "node": "Run Agent Factory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Agent Factory": {
      "main": [
        [
          {
            "node": "Build Completion Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Completion Event": {
      "main": [
        [
          {
            "node": "Notify Agent Factory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "v0.3 draft only. Import after self-hosted n8n is behind Caddy HTTPS; do not expose port 5678 directly."
  }
}
