workflows/n8n/industry-research-intake.json
{
  "name": "industry-research-v03-intake",
  "id": "industryResearchV03Intake",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "industry-research/intake",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-intake",
      "name": "Webhook Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "industry-research-intake-webhook",
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://research.playgamelab.cn/api/industry-research/webhooks/n8n-run-complete",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({ runId: $json.body?.runId || $json.runId || $execution.id, status: 'queued', n8nExecutionId: $execution.id, message: 'n8n accepted industry research intake and queued the run.' })}}",
        "options": {}
      },
      "id": "notify-agent-factory-queued",
      "name": "Notify Industry Research Queued",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [360, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "industryResearchN8nWebhookHeader",
          "name": "Industry Research n8n Webhook Header"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://research.playgamelab.cn/api/industry-research/webhooks/n8n-run-complete",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({ runId: $('Webhook Intake').item.json.body?.runId || $('Webhook Intake').item.json.runId || $execution.id, status: 'running', n8nExecutionId: $execution.id, message: 'n8n started the protected industry research run API call.' })}}",
        "options": {}
      },
      "id": "notify-agent-factory-running",
      "name": "Notify Industry Research Running",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "industryResearchN8nWebhookHeader",
          "name": "Industry Research n8n Webhook Header"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://research.playgamelab.cn/api/industry-research/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({ mode: $json.body?.mode || $json.mode || 'public_web', input: { projectName: $json.body?.projectName || $json.projectName, industry: $json.body?.industry || $json.industry, category: $json.body?.category || $json.category, market: $json.body?.market || $json.market, researchGoal: $json.body?.researchGoal || $json.researchGoal, templateId: 'ecommerce_competitor_research', urls: Array.isArray($json.body?.urls) ? $json.body.urls : Array.isArray($json.urls) ? $json.urls : (($json.body?.urls || $json.urls) ? String($json.body?.urls || $json.urls).split('\\n').filter(Boolean) : []), csvText: $json.body?.csvText || $json.csvText || '', manualText: $json.body?.manualText || $json.manualText || '' } })}}",
        "options": {}
      },
      "id": "run-agent-factory",
      "name": "Run Industry Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1080, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "industryResearchInternalHeader",
          "name": "Industry Research Internal Header"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "run-id-present",
              "leftValue": "={{Boolean($json.deliveryPackage?.runId || $json.result?.research_projects?.[0]?.id)}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-run-succeeded",
      "name": "If Run Succeeded",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://research.playgamelab.cn/api/industry-research/webhooks/n8n-run-complete",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({ runId: $json.deliveryPackage?.runId || $json.result?.research_projects?.[0]?.id || $execution.id, status: 'completed', n8nExecutionId: $execution.id, deliveryPackageApiPath: '/api/industry-research/runs/' + ($json.deliveryPackage?.runId || $json.result?.research_projects?.[0]?.id || $execution.id) + '/download', message: 'n8n completed industry research run.' })}}",
        "options": {}
      },
      "id": "notify-agent-factory-completed",
      "name": "Notify Industry Research Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1800, -120],
      "credentials": {
        "httpHeaderAuth": {
          "id": "industryResearchN8nWebhookHeader",
          "name": "Industry Research n8n Webhook Header"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://research.playgamelab.cn/api/industry-research/webhooks/n8n-run-complete",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({ runId: $('Webhook Intake').item.json.body?.runId || $('Webhook Intake').item.json.runId || $execution.id, status: 'failed', n8nExecutionId: $execution.id, message: $json.message || $json.error?.message || 'n8n failed before a delivery package was created.' })}}",
        "options": {}
      },
      "id": "notify-agent-factory-failed",
      "name": "Notify Industry Research Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1800, 120],
      "credentials": {
        "httpHeaderAuth": {
          "id": "industryResearchN8nWebhookHeader",
          "name": "Industry Research n8n Webhook Header"
        }
      }
    }
  ],
  "connections": {
    "Webhook Intake": {
      "main": [
        [
          {
            "node": "Notify Industry Research Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Industry Research Queued": {
      "main": [
        [
          {
            "node": "Notify Industry Research Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Industry Research Running": {
      "main": [
        [
          {
            "node": "Run Industry Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Industry Research": {
      "main": [
        [
          {
            "node": "If Run Succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Succeeded": {
      "main": [
        [
          {
            "node": "Notify Industry Research Completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Industry Research Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "description": "Production n8n intake for industry research. Emits queued/running/completed/failed events, calls the protected run API with Header Auth credentials, and keeps workflow JSON free of secrets."
  }
}
